.chatbot-container {
  width: 300px;
  border: 1px solid #96d5e7;
  border-radius: 5px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.chat-log {
  flex-grow: 1;
  padding: 10px;
  overflow-y: auto;
}

.user-message {
  background-color: #8b86bb;
  color: #00838f;
  padding: 8px 12px;
  border-radius: 10px;
  align-self: flex-end;
  margin-bottom: 8px;
  max-width: 70%;
  word-break: break-word;
}

.bot-message {
  background-color: #f5f5f5;
  color: #333;
  padding: 8px 12px;
  border-radius: 10px;
  align-self: flex-start;
  margin-bottom: 8px;
  max-width: 70%;
  word-break: break-word;
}

.input-area {
  display: flex;
  padding: 10px;
  border-top: 1px solid #eee;
}

.chat-input {
  flex-grow: 1;
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-right: 10px;
}

.send-button {
  background-color: #5236b5;
  color: white;
  border: none;
  padding: 8px 15px;
  border-radius: 5px;
  cursor: pointer;
}
